<tr>
    <th>{{ user.id }}</th>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.age }}</td>
    <td>{{ user.roles | first }}</td>
    <td class="flex flex-row border-none">
        <button class="btn btn-sm btn-ghost tooltip" data-action="live#action" data-live-action-param="openEditModal" data-live-id-param="{{ user.id }}">
            <twig:icon name="edit" class="w-4 h-4" />
        </button>

        <button class="btn btn-sm btn-ghost btn-error tooltip" data-action="live#action" data-live-action-param="openDeleteModal" data-live-id-param="{{ user.id }}">
            <twig:icon name="trash" class="w-4 h-4" />
        </button>
    </td>
</tr>
