<div class="flex flex-col space-y-8" {{ attributes }}>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table table-zebra">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Email</th>
                <th>Age</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="page--{{ page }}">
            {% for user in this.users %}
                <tr>
                    <th>{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.roles | join(", ") }}</td>
                    <td class="flex flex-row border-none">
                        <button class="btn btn-sm btn-ghost tooltip">
                            <twig:icon name="edit" class="w-4 h-4" />
                        </button>

                        <button
                            class="btn btn-sm btn-ghost btn-error tooltip"
                            data-action="live#action"
                            data-live-action-param="delete"
                            data-live-id-param="{{ user.id }}"
                        >
                            <twig:icon name="trash" class="w-4 h-4" />
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if this.hasMore %}
        <button
            class="btn"
            data-action="live#action"
            data-live-action-param="more"
        >
            Voir plus
        </button>
    {% endif %}
</div>
